* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(img/calc-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button:focus {
    outline: none;
}

.container {
    width: 600px;
    height: 810px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid rgb(39, 1, 255);
    background: rgb(59, 59, 59);
    border-radius: 10px; 
}

.display {
    width: 560px;
    height: 110px;
    border: 1px solid rgb(39, 1, 255);
    margin: 20px 20px;
    background: rgb(99, 99, 99);
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 25px 0;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
}

button:active {
    transform:scale(0.9);
}

button:hover {
    cursor: pointer;
}

.clear-btn, 
.equal-btn, 
.std-btn,
.calc-btn,
.decimal-btn {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: 400;
    border-radius: 10px;
}

.clear-btn {
    width: 410px;
    height: 110px;
    margin: auto;
    border: 1px solid rgb(39, 1, 255);
    background: rgb(99, 99, 99);
    margin: 10px 10px;
}

.equal-btn {
    width: 260px;
    height: 110px;
    border: 1px solid rgb(39, 1, 255);
    background: rgb(99, 99, 99);
    margin: 10px 10px;
}

.std-btn, 
.calc-btn,
.decimal-btn {
    width: 110px;
    height: 110px;
    border: 1px solid rgb(39, 1, 255);
    margin: auto;
    background: rgb(99, 99, 99);
    margin: 10px 10px;
}

.clear,
.row-one,
.row-two,
.row-three,
.row-four {
    display: flex;
    justify-content: space-around;
    text-align: center;
}